{{ partial "header.html" . }}

<body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">

                    <div class="logo">
                        <a href="/"><span class="icon fa-{{ .Params.Icon }}"></span></a>
                    </div>

                    <div class="content">
                        <div class="inner">
                            <h1>{{ .Title | default "Title" }}</h1>
                            {{ if .Params.description }}
                            <p>
                                {{ .Params.description }}
                            </p>
                            {{ end }}
                        </div>
                    </div>

                    <nav>
                        <ul>
                            {{ range .Pages.ByWeight }}
                                {{if .Title }}
                                    {{if .Content}}
                                        <li>
                                            <a href="#{{ cond (in (.Title|urlize) "%") (.Title | base64Encode) (.Title) | urlize }}">{{ .Title }}</a>
                                        </li>
                                    {{ else }}
                                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </ul>
                    </nav>
                </header>

            <!-- Main -->

                <div id="main">

                    {{ range .Pages }}
                        {{if .Title }}
                            {{if .Content }}
                                <!-- <article id="{{ cond (in (.Title|urlize) "%") (.Title | base64Encode) (.Title) | urlize }}">
                                  </article> -->
                                    <h1 >{{ .Title }}</h1>
                                    <h3>{{ .Description }}</h3>
                                    <h4>{{.Date.Format "Jan 2 2006"}}</h4>
                                    <span class="image main"><img src="{{ .Params.image }}" alt="" /></span>
                                  <article id="{{ cond (in (.Title|urlize) "%") (.Title | base64Encode) (.Title) | urlize }}">
                                    {{ .Content }}
                                  </article>
                            {{ end }}
                        {{ end }}
                    {{ end }}

                </div>

                {{ partial "design.html" .}}

        </div>

    <!-- BG -->
    <div id="bg"></div>

</body>

{{ partial "footer.html" .}}
