<div id="main">

    {{ range .Pages }}
        {{if .Title }}
            {{if .Content }}
                <article id="{{ cond (in (.Title|urlize) "%") (.Title | base64Encode) (.Title) | urlize }}">
                    <h2 class="major">{{ .Title }}</h2>
                    <span class="image main"><img src="{{ .Params.image }}" alt="" /></span>
                    {{ .Content }}
                </article>
            {{ end }}
        {{ end }}
    {{ end }}

</div>
