

<body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                  <div class="logo">
                      <a href="/"><span class="icon fa-{{ .Params.Icon | default "flag" }}"></span></a>
                  </div>
                    <div class="content">
                        <div class="inner">
                            <h1><a href="{{ "/" | relURL }}">Go Home</a></h1>
                            {{ if .Params.description }}
                            <p>
                                {{ .Params.description }}
                            </p>
                            {{ end }}
                        </div>
                    </div>
                </header>

                {{ partial "design.html" .}}

        </div>

    <!-- BG -->
    <div id="bg"></div>

</body>

{{ partial "design.html" . }}
